header {
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
}

.pokemon-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between flex-start;
    flex: 1;
}

.pokemon {
    border: 1px black solid;
    text-align: center;
    padding: 25px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 5px;
}

.pokemon:hover {
    transform: scale(1.2);
}

img {
    width: 100px;
    height: 100px;
}